* {
    font-family: Roboto;
    }

.head {
    font-size: 24px;
    display: flex;
    
    }

.nav_bar {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-around;
    }

.nav_bar ul {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    }

.head,
.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    flex-direction: column;
}